@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Raleway";
  src:url("../public/fonts/Raleway/Raleway-VariableFont_wght.ttf")
}

.fade {
  animation: fadeAnim 0.3s ease-out;
}

@keyframes fadeAnim {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

body {
  overflow: hidden;
}

